body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

header {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 30px;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 85%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}